@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #e6e6e6; /* Cor de fundo suave */
    --branco: #ffffff; /* Branco para textos e fundo de elementos */
    --laranja: #fc0000; /* Cor laranja para destaques */
    --azul-degrade: linear-gradient(97.54deg, #000000 35.49%, #b83f21 165.37%); /* Gradiente azul para o fundo */
    --fonte-principal: "Poppins"; /* Fonte principal do site */
    --azul: #000000; /* Azul escuro para textos e bordas */
}

body {
    background-color: var(--cor-de-fundo); /* Aplicando cor de fundo */
    font-family: var(--fonte-principal); /* Definindo fonte principal */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte */
}
