.tópicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.tópicos__titulo {
    color: var(--branco);
    font-weight: 600;
    margin-bottom: 1em;
    font-size: 24px; /* Aumentei o tamanho para destacar o título */
}

.tópicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos__item {
    margin: 2em 0.5em;
}

.tópicos__imagem {
    width: 10px; /* Altere para a largura desejada */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 1px; /* Bordas arredondadas, se desejar */
    margin-bottom: 0.5em; /* Espaçamento abaixo da imagem */
}


.tópicos__link {
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px; /* Adicionei bordas arredondadas */
}

/* Efeito de hover para links */
.tópicos__link:hover {
    background-color: var(--verde); /* Cor para hover */
    transform: scale(1.05);
    transition: all 0.3s ease;
}

@media screen and (min-width: 1728px) {
    .tópicos {
        padding: 3em 30vw;
    }
}